body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: white;
  margin: 0;
}

.header-container {
  padding: 24px 50px 0 50px;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236.26px;
  height: 60px;
}

.logo-img {
  margin-right: 13px;
  width: 31.26px;
  height: 29px;
}

.logo-name {
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
}

.nav-signUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;
  height: 62px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 652px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.hyperlink-button {
  width: 134px;
  height: 62px;
  background-color: #000000;
  border-radius: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: white;
  border: none;
  cursor: pointer;
}

.hero-section {
  position: relative;
  background-color: #f4f6f5;
  margin-top: 56px;
  margin-bottom: 63px;
  padding: 77px 120px 90px 120px;
  border-radius: 59px;
}

.girl-in-pink {
  position: absolute;
  top: 68px;
  right: 81px;
  width: 871px;
  height: 784px;
}

.hero-title {
  z-index: 1;
  position: relative;
  width: 474px;
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
}

.rectangle-decoration {
  position: absolute;
  background: #ffffff;
  transform: rotate(-2deg);
  z-index: -1;
}

.white {
  width: 465px;
  height: 112px;
  top: 9px;
  left: -37px;
}

.yellow {
  left: -26px;
  bottom: 120px;
  width: 495px;
  height: 112px;
  background: #ebd96b;
}

.hero-description {
  margin-top: 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.hero-additional {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.hero-button {
  margin-left: 34px;
  border-radius: 10px;
  width: 221px;
  height: 82px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.brands {
  height: 186px;
  background-color: #ebd96b;
}

.brands-list {
  list-style: none;
  padding: 57px 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slaider-wrapper {
  padding: 69px 50px 0 50px;
}

.yellow-decoration {
  position: absolute;
  z-index: -1;
  top: 23px;
  right: -7px;
}

.section-title {
  position: relative;
  display: inline-block;
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
}

.slaider {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 190px;
  /* придумать свойство, что будет больше картинок - они спрятаны */
}

.card-description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description {
  margin-top: 28px;
}

.card-title,
.card-action {
  margin: 0;
  font-weight: 500;
  line-height: 50px;
}

.card-title {
  font-size: 32px;
}

.card-action {
  font-size: 24px;
  color: #7f7f7f;
}

/* .card {
  cursor: pointer;
} */

/* 
что-то делает класс card ? 
потому что курсор добавила в <a>
*/

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: transform 0.3s;
}

a:hover {
  transform: scale(1.05);
  text-shadow: 2px 1px 3px #ebd96b;
}

.banner-wripper {
  display: flex;
  padding: 100px 200px 100px 1050px;
  justify-content: flex-end;
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}

.sale-title {
  margin: 0;
  font-weight: 900;
  font-size: 111px;
  line-height: 137px;
}

.sale-description {
  margin-top: 33px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
}

.sale-period {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}

.sale-additional {
  margin-top: 10px;
  margin-bottom: 51px;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
}

.sale-button {
  width: 265.62px;
  height: 95.33px;
  font-weight: 600px;
}

/* Остановилась на 
- добавить картинку как бэграунд 
- проверить можно ли вынести общее у h2 & p*/
