:root {
  --orange-color: #ff6551;
  --text-color: #252b42;
  --text-secondary: #737373;
  --text-bold: 700;
  --text-size-small: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  padding-bottom: 60px;
}

.img-cover {
  object-fit: cover;
  z-index: -1;
}

.img-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    89.83deg,
    #ffffff 14.24%,
    #ffffff 14.25%,
    rgba(255, 255, 255, 0) 99.55%
  );
}

.login-link,
.hero-subtitle,
.subscription-subtitle,
.price-number {
  color: var(--orange-color);
}

.hero-title,
.button-link,
.button-subscription,
.subscription-subtitle,
.subscription-title,
.subscription-benefits,
.pricing-title,
.pricing-description,
.price-number,
.price-description {
  font-weight: var(--text-bold);
}

.button-link,
.button-subscription,
.subscription-subtitle,
.subscription-benefits,
.pricing-description,
.price-description {
  font-size: var(--text-size-small);
}

.button-link {
  width: 135px;
  height: 52px;
}

.button-subscription,
.button-link {
  background-color: var(--orange-color);
  border: none;
  line-height: 22px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-link:hover,
.button-subscription:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.hero-title {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.navbar-title,
.hero-title,
.login-link:hover {
  color: var(--text-color);
}
/* 
.login-link {
  border: none;
  background: none;
} */

.navbar-item,
.hero-description,
.pricing-additional,
.pricing-description {
  color: var(--text-secondary);
}

.hero-description {
  width: 338px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.navbar-item:hover,
.pricing-title {
  color: var(--text-color);
}

.subscription-section,
.js-subscription-section {
  background-color: var(--text-color);
  padding: 100px 0;
}

.subscription-subtitle,
.subscription-benefits,
.pricing-title,
.pricing-description,
.price-description {
  line-height: 24px;
}

.pricing-title {
  line-height: 32px;
  color: var(--text-color);
}

.subscription-title,
.price-number {
  font-size: 40px;
  line-height: 50px;
}

.pricing-additional,
.subscription-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.subscription-benefits {
  list-style-type: none;
}

.check-icon {
  margin-right: 8px;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
}
